* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: #482C3F;
}

header, footer {
    background-color: #482C3F;
    min-height: 10vh;
    align-content: center;
}

.logo {
    color: #F5A385;
}

nav {
    background-color: #FAF0EA;
    min-height: 6vh;
    align-content: center;
    display: flex;
    padding-top: 4px;
}

nav a {
    flex-grow: 1;
    align-content: center;
    color: #482C3F;
    text-decoration: none;
}