.nav_home {
    background-color: #482C3F;
    color: #E2D6C3;
}

main {
    align-content: center;
    height: 80vh;
    color: #E2D6C3;
    background: linear-gradient(to bottom, #482C3F 20%, #7B5164 55% 56%, #496C82 80%, #AAB5BB 94%, #e2d6c3);
}

/* Hello, student! phrase */
main section p {
    display: inline-block;
    color: white;
    background-color: #F5A385;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
} 

/* We have spaces for */
.introcards{
    padding-top: 20vh;
    color: #496C82;
    background-color: #e2d6c3;
    font-size: 25px;
    padding-bottom: 40px;
}

.cards {
    flex-direction: row;
    padding-bottom: 10vh;
    background-color: #e2d6c3;
    height: 60vh;
}

.resources_card, 
.tools_card, 
.hub_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources_card:hover,
.tools_card:hover,
.hub_card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.resources_card div,
.tools_card div,
.hub_card div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
    text-align: start;
}  

.resources_card div h1,
.tools_card div h1,
.hub_card div h1 {
    color: #FAF0EA;
    font-size: 25px;
}

.resources_card div p,
.tools_card div p,
.hub_card div p {
    color: #e2d6c3;
}

.resources_card {
    background-color: #496C82;
}

.tools_card {
    background-color: #7B5163;
}

.hub_card {
    background-color: #482C3F;
}

button{
    margin-top: 10px;
}

img {
    margin-left: 10px;
    width: 50px;
}

@media (min-width: 601px) {

    /* We have spaces for */
    .introcards{
        padding-top: 10vh;
    }
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        height: 40vh;
    }

    .resources_card, 
    .tools_card, 
    .hub_card {
        flex: 1;
        max-width: 250px;
        flex-direction: column;
        align-items: start;
    }

    .card_button {
        margin-bottom: 10px;
    }
}
