.nav_home {
    background-color: #482C3F;
    color: #E2D6C3;
}

main {
    align-content: center;
    height: 80vh;
    color: #E2D6C3;
    background: linear-gradient(to bottom, #482C3F 20%, #7B5164 55% 56%, #496C82 80%, #AAB5BB 94%, #e2d6c3);
}

/* Hello, student! phrase */
main section p, .about_studyspace h2  {
    display: inline-block;
    color: white;
    background-color: #F5A385;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
} 

/* "What spaces do we offer?" and "What is StudySpace?"*/
.introcards{
    padding-top: 20vh;
    color: #496C82;
    background-color: #e2d6c3;
    font-size: 25px;
    padding-bottom: 10px;
}

.cards, .about_studyspace {
    flex-direction: row;
    background-color: #e2d6c3;
    height: 60vh;
}

.about_studyspace {
    flex-direction: column;
    height: 100vh;
}

.resources_card, 
.tools_card, 
.hub_card,
.about_card,
.features p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources_card:hover,
.tools_card:hover,
.hub_card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.resources_card div,
.tools_card div,
.hub_card div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
    text-align: start;
}  

.resources_card div h1,
.tools_card div h1,
.hub_card div h1 {
    color: #FAF0EA;
    font-size: 25px;
}

.resources_card div p,
.tools_card div p,
.hub_card div p {
    color: #e2d6c3;
}

.resources_card {
    background-color: #496C82;
}

.tools_card {
    background-color: #7B5163;
}

.hub_card {
    background-color: #482C3F;
}

button{
    margin-top: 10px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
}

.about_studyspace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_card {
    color:#ffffff;
    background-color: #FAF0EA;
    flex-direction: column;
    border-radius: 20px;
    max-height: fit-content;
    margin-bottom: 10vh;
}

.about_studyspace h2 {
    color:#FAF0EA;
    background-color: #482C3F;
    margin: 10px;
    border-radius: 30px;
}

.about_studyspace h3 {
    color: #F5A385;
}

.about_studyspace p {
    color: #482C3F;
}

.about_card_content {
    display: grid;
}

.desc, .features {
    margin: 10px;
}

.features p {
    color: #FAF0EA;
    background-color: #F5A385;
    padding: 10px;
}

.desc{
    text-align: justify;
    padding: 0 20px 10px;
}

@media (min-width: 601px) {

    /* We have spaces for */
    .introcards{
        padding-top: 10vh;
        color: #482C3F;
    }
    
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        height: 40vh;
    }

    .resources_card, 
    .tools_card, 
    .hub_card {
        flex: 1;
        max-width: 250px;
        flex-direction: column;
        padding: 30px;
        align-items: start;
    }

    button {
        margin-bottom: 40px;
    }

    .about_card {
        flex: 1;
        max-width: 950px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .about_card_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .desc{
        display: flex;
        align-items: center;
        font-size: 18px;
    }
}
