.nav_hub {
    background-color: #482C3F;
    color: #E2D6C3;
}

body{
       background: linear-gradient(to bottom, #482C3F 20%, #7B5164 55% 56%, #496C82 80%, #AAB5BB 94%, #e2d6c3);
}

.about{
    color: #e2d6c3;
    padding: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.line1, legend {
    margin-top: 5px;
    font-size: 20px;
    color: #482C3F;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E2D6C3;
}

.intro_msg, #benefits, .form_card {
    flex: 1;
    max-width: 500px;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
    color:#ffffff;
    background-color: #E2D6C380;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 400px;
  text-align: left;
}


.intro_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 100px;
    margin: 5px;
}

/* cards sa benefits */
.individual_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    padding: 25px;
    border-radius: 20px;
    background-color: #482C3F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    margin: 10px;
}

.cards h3 {
    color:  #F5A385;
}

#join_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 601px) {
    .intro_msg, #benefits, .form_card {
        flex: 1;
        max-width: 700px;
        flex-direction: column;
    }

    .intro_buttons {
        flex-direction: row;
        justify-content: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        padding: 5px 30px;
    }

    .individual_card {
        width: 250px;
        height: 250px;
    }
}