.nav_hub,
.nav_hub:hover {
    background-color: #482C3F;
    color: #E2D6C3;
}

body{
    background: linear-gradient(to bottom, #482C3F 10%, #7B5164 35% 36%, #496C82 60%, #AAB5BB 94%, #e2d6c3);
}

.about{
    color: #e2d6c3;
    margin-top: 20px;
    padding-bottom: 20px;
}

.line1 {
    margin-top: 5px;
    color: #482C3F;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E2D6C3;
}

.intro_msg .line1 {
    color:#ffffff;
}

.intro_msg p {
    color:#482C3F;
}

.intro_msg, #benefits, .form_card {
    flex: 1;
    max-width: 500px;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
    color:#ffffff;
    background-color: #ffffff6d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;
  max-width: 400px;
  text-align: left;
  font-size: larger;
}

#join_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    padding: 12px 20px;
    box-sizing: border-box;
}

#benefits {
    scroll-margin-top: 100px; /* para ma center pag nag "See Benefits" */
}


.intro_buttons {
    padding: 16px;
}

.button {
    width: 100px;
    margin: 5px;
}

/* cards sa benefits */
.individual_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
    padding: 18px;
    border-radius: 20px;
    background-color: #482C3F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: small;
}

.individual_card img {
    width: 60px;
}

img {
    margin: 10px;
}

.cards h3 {
    color:  #F5A385;
}

.header_nav {
    position: static;
}

@media (min-width: 601px) {
    .intro_msg, #benefits, .form_card {
        flex: 1;
        max-width: 700px;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        padding: 5px 30px;
    }
}