legend {
    padding-bottom: 20px;
}

label, .radio_label{
    color: #482C3F;
    align-items: flex-start;
}

input, select, textarea{
    padding:5px;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px solid #482C3F;
    transform: translateY(-3px);

} 

input[type="radio"]{
    width: auto;
    margin-right: 5px;
    accent-color: #482C3F;
}

input[required]{
    border-left: 4px solid #482C3F;
}

.optional {
    color: #917b89;
}

button {
    margin-top: 14px;
    border: none;
    cursor: pointer;
    color: #555555;
}

#submit_button {
    background: #482C3F;
    color: #ffffff;
}

#submit_button:hover {
    background: #865b79;
    color: #ffffff;
}

button[type="reset"]:hover {
    background: #808080;
    color: #333333;
}