body {
    background-color: #482C3F;
    color: #FAF0EA;
}

.nav_resources {
    background-color: #482C3F;
    color: #E2D6C3;
}

.study {
    color: #e2d6c3;
}

.about {
    color: #e2d6c3;
    padding: 40px;
    padding-bottom: 60px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #482C3F, #496C82, #E2D6C3);

}

.cards {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    padding: 10px;
    background-color: #e2d6c3;
    gap: 30px;
}

a {
    margin-left: 5px;
    text-decoration: none;
    color: #FAF0EA;
}
a {
    margin-left: 5px;
    text-decoration: none;
    color: #FAF0EA;
}

li:hover {
    border-radius: 5px;
    background-color: #7b5163;
}

li:hover {
    background-color: #496C82;
}

.card_title {
    color: #496C82;
    background-color: #E2D6C3;
    font-size: 25px;
    padding-top: 40px;
}

.html_card,
.css_card,
.js_card,
.vid_card {
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #8A999E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.html_card:hover,
.css_card:hover,
.js_card:hover,
.vid_card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.html_card_header,
.css_card_header,
.js_card_header {
    display: flex;
    flex-direction: row;
    padding: 16px;

    border-radius: 20px;
    background-color: #496C82;
}

.html_card_header div,
.css_card_header div,
.js_card_header div,
.vid_card_header div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: start;
}

.html_card_header div h1,
.css_card_header div h1,
.js_card_header div h1 {
    color: #FAF0EA;
    font-size: 25px;
}

.html_card_header div p,
.css_card_header div p,
.js_card_header div p,
.vid_card_header div p {
    color: #e2d6c3;
}

.html_card_body, 
.css_card_body, 
.js_card_body {
    display: none;
    background: none;
    padding: 0;
}

.html_card_body.active, 
.css_card_body.active, 
.js_card_body.active  {
    display: block;
}


.html_card_body ul,
.css_card_body ul,
.js_card_body ul {
    list-style-type: none;
    color: #e2d6c3;
    text-align: start;
    padding: 8px;
}

.more_in_hub a{
    color: #482C3F;
}

.more_in_hub{
    background-color: #e2d6c3cf;
    border-radius: 5px;
}

.more_in_hub:hover{
    background-color: #f7f7f7;
}

.vid_card {
    background-color: #496C82;
    padding: 16px 0;
    padding-top: 32px;
}

.vid_card_header {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.vid_card_button img {
    padding: 8px;
    border-radius: 25px;
}

.vid_card_button img:hover {
    background-color:#2e4a5b;
}

iframe {
    pointer-events: none;
    width: 80%;
    height: 200px;
}

@media (min-width: 601px) {
    .card_title {
        padding-top: 0;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-height: fit-content;
    }

    .html_card,
    .css_card,
    .js_card,
    .vid_card {
        flex: 1;
        max-width: 300px;
        flex-direction: column;
    }
}