.nav_tools {
    background-color: #482C3F;
    color: #E2D6C3;
}


.study {
    color: #e2d6c3;
}

.about {
    color: #e2d6c3;
    padding: 40px;
    padding-bottom: 60px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #482C3F, #96747c, #E2D6C3);

}

.cards {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    background-color: #e2d6c3;
}

a {
    margin-left: 5px;
    text-decoration: none;
    color: #f7f7f7;
}

li:hover {
    border-radius: 5px;
    background-color: #7b5163;
}


.card_title {
    color:#7b5163;
    background-color: #E2D6C3;
    font-size: 25px;
}

.ides_card,
.design_card,
.icons_card,
.vid_card1 {
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    background-color: #96747c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ides_card:hover,
.design_card:hover,
.icons_card:hover,
.vid_card1:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.ides_card_header,
.design_card_header,
.icons_card_header,
.vid_card1 {
    display: flex;
    flex-direction: row;
    padding: 16px;

    border-radius: 20px;
    background-color: #7b5163;
}


.vid_card1 {
    flex-direction: column;
    margin-bottom: 5vh;
}

.ides_card_header div,
.design_card_header div,
.icons_card_header div,
.vid_card1_content  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: start;
}

.vid_card1_content {
    flex-direction: row;
}

.vid_card1_desc {
    margin: 10px 212px 0 0;
}

.vid_card_buttons img{
    padding: 8px;
    border-radius: 25px;
    margin-top: 10px;
}

.vid_card_buttons img:hover {
    background-color:#2e4a5b;
}

.ides_card_header div h1,
.design_card_header div h1,
.icons_card_header div h1,
.vid_card1 div h1  {
    color: #FAF0EA;
    font-size: 25px;
}

.ides_card_header div p,
.design_card_header div p,
.icons_card_header div p,
.vid_card1 div p  {
    color: #e2d6c3;
}

.ides_card_body, 
.design_card_body, 
.icons_card_body {
    display: none;
    background: none;
    padding: 0;
}

.ides_card_body.active, 
.design_card_body.active, 
.icons_card_body.active  {
    display: block;
}


.ides_card_body ul,
.design_card_body ul,
.icons_card_body ul {
    list-style-type: none;
    color: #e2d6c3;
    text-align: start;
    padding: 8px;
}

.more_in_hub a{
    color: #482C3F;
}

.more_in_hub{
    background-color: #e2d6c3cf;
    border-radius: 5px;
}

.more_in_hub:hover{
    background-color: #ffffff;
}


iframe {
    pointer-events: none;
}


@media (min-width: 601px) {

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        max-height: fit-content;
        gap: 10px;
    }

    .ides_card,
    .design_card,
    .icons_card,
    .vid_card1 {
        flex: 1;
        max-width: 300px;
        flex-direction: column;
    }

    
    .vid_card1_content {
        flex-direction: row;
    }

    .vid_card1_desc {
        margin: 10px 50px 0 0;
    }

    iframe {
        max-width: fit-content;
    }
}