body {
    background-color: #482C3F;
    color: #FAF0EA;
}

.nav_tools {
    background-color: #482C3F;
    color: #E2D6C3;
}


.study {
    color: #e2d6c3;
}

.about {
    color: #e2d6c3;
    padding: 40px;
    padding-bottom: 60px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #482C3F, #96747c, #E2D6C3);

}

.cards,
.web_cards {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    padding: 10px;
    background-color: #e2d6c3;
    gap: 30px;
}

a {
    margin-left: 5px;
    text-decoration: none;
    color: #f7f7f7;
}

li:hover {
    border-radius: 5px;
    background-color: #7b5163;
}


.card_title,
.card_title2 {
    color:#7b5163;
    background-color: #E2D6C3;
    font-size: 25px;
    padding-top: 40px;
}

.ides_card,
.design_card,
.icons_card,
.web_card {
    align-items: center;
    justify-content: center;
}

.ides_card:hover,
.design_card:hover,
.icons_card:hover,
.web_card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.ides_card_body, 
.design_card_body, 
.icons_card_body {
    background-color: #96747c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

    z-index: 2;
    padding-top: 16px;
    transform: translateY(-26px);

    display: none;
}

.ides_card.active .ides_card_body, 
.design_card.active .design_card_body, 
.icons_card.active .icons_card_body  {
    display: block;
}

.ides_card_header,
.design_card_header,
.icons_card_header {
    display: flex;
    flex-direction: row;
    padding: 16px;

    border-radius: 20px;
    background-color: #7b5163;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    position: relative;
    z-index: 2;
}

.ides_card_header div,
.design_card_header div,
.icons_card_header div,
.web_card_header_content  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: start;
}

.ides_card_header div h1,
.design_card_header div h1,
.icons_card_header div h1  {
    color: #FAF0EA;
    font-size: 25px;
}

.ides_card_header div p,
.design_card_header div p,
.icons_card_header div p,
.web_card_header_content p  {
    color: #e2d6c3;
}

.ides_card_body ul,
.design_card_body ul,
.icons_card_body ul {
    list-style-type: none;
    color: #e2d6c3;
    text-align: start;
    padding: 8px;
}

.more_in_hub a{
    color: #482C3F;
}

.more_in_hub{
    background-color: #e2d6c3cf;
    border-radius: 5px;
}

.more_in_hub:hover{
    background-color: #ffffff;
}   

.web_cards {
    padding-bottom: 60px;
}

.web_card {
    background-color: #7b5163;
    padding: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.web_card_header {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-grow: 1;
    width: 90%;
}

.web_card_button img {
    padding: 8px;
    border-radius: 25px;
}

.web_card_button img:hover {
    background-color:#2e4a5b;
}

.web_card_image {
    width: 25%;
    height: 100px;
    object-fit: cover;
    object-position: left;
    display: none;
}

.web_card_header_content {
    justify-content: center;
}

@media (min-width: 426px) {
    .web_card_image {
        display: block;
    }
}

@media (min-width: 687px) {
    .card_title {
        padding-top: 0;
    }

    .card_title2 {
        padding-top: 0;
        padding-bottom: 40px;
        color:#7b5163c0;
    }

    .cards,
    .web_cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .ides_card,
    .design_card,
    .icons_card,
    .web_card {
        flex: 1;
        max-width: 300px;
        flex-direction: column;
    }

    .web_card {
        padding: 16px 0;
        padding-top: 32px;
    }

    .web_card_image {
        width: 90%;
        height: 200px;
        object-fit: cover;
        object-position: left;
    }
}