* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: #482C3F;
}

.header_nav {
    position: sticky;
    top: 0;  
    z-index: 1000;
}

.header_nav, footer {
    background-color: #482C3F;
    min-height: 5vh;
    align-content: center;
}

.logo {
    color: #F5A385;
    padding: 5px 10px;
}

nav {
    background-color: #FAF0EA;
    min-height: 6vh;
    align-content: center;
    display: flex;
    padding-top: 2px;
}

nav a {
    flex-grow: 1;
    align-content: center;
    color: #482C3F;
    text-decoration: none;
}

.nav_home:hover,
.nav_resources:hover,
.nav_tools:hover,
.nav_hub:hover {
    background-color: #ffdfcb;
}

footer {
    color: #faf0ea79;
    margin-top: 10px;
    padding: 5px 18%;
}

.footer_logo {
    margin-bottom: 20px;
}

.footer_nav a {
    flex-grow: 1;
    align-content: center;
    color:#faf0ea79;
    text-decoration: none;
    padding: 0 5px;
}

.footer_nav a:hover {
    color:#faf0ea;
    text-decoration: underline;
}

.footer_nav {
    margin-bottom: 20px;
}

li {
    padding: 8px;
}

.member {
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.member:hover {
  color:#F5A385;
  transform: scale(1.05);
}

.copyright {
    margin-top: 10px;
}

