.button {
    display: inline-block;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 25px;
    color: black;
    background-color: #fff8f3b6;
    text-decoration: none;
}


.button:hover {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: #908b8ab6;
}